/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 13, 2017, 12:19:42 PM
    Author     : dippa
*/
.navbar .collapse .form-control {
  width: 700px;
  height: 5px;
  border: none;
  background-color: #f7f7f7; }
@media (max-width: 1280px) {
  .navbar .collapse .form-control {
    width: 600px; } }
@media (max-width: 1110px) {
  .navbar .collapse .form-control {
    width: 500px; } }

.nav-item {
  margin-left: 2rem; }

@media (max-width: 1280px) {
  .nav-item {
    margin-left: 1rem; } }
@media (max-width: 1110px) {
  .nav-item {
    margin-left: 0.5rem; } }
.carousel {
  /*    @media(max-width: 768px){
          margin-top:7%;        
      }
      @media(min-width: 576px){
          margin-top: 9%;
      }
      @media(max-width: 576px){
          margin-top: 13%;
      }*/ }
  .carousel .carousel-inner .carousel-item .d-block {
    width: 100%; }
  @media (max-width: 1280px) {
    .carousel .carousel-inner .carousel-item img {
      height: 75%; } }
@media (max-width: 1280px) and (max-width: 1110px) {
  .carousel .carousel-inner .carousel-item img {
    height: 50%; } }

  .carousel .carousel-inner .carousel-item .carousel-caption {
    text-align: left;
    right: initial;
    padding-bottom: 15%;
    color: #fff; }
    .carousel .carousel-inner .carousel-item .carousel-caption h1 {
      margin-bottom: 3%;
      font-weight: bolder;
      font-size: 3rem; }
    .carousel .carousel-inner .carousel-item .carousel-caption p {
      margin-bottom: 9%;
      font-size: 1.2rem; }
    .carousel .carousel-inner .carousel-item .carousel-caption .btn {
      color: #fff;
      border: 2px solid;
      border-radius: 64px;
      cursor: pointer;
      border-color: #fff; }
    .carousel .carousel-inner .carousel-item .carousel-caption .btn:hover {
      color: #484848;
      background-color: transparent;
      border: 2px solid;
      border-radius: 64px;
      cursor: pointer;
      border-color: rgba(0, 0, 0, 0.125); }

.ticket {
  padding: 0% 1.5% 0% 1.5%;
  margin: 4% 0% 4% 0%;
  border: 1px solid;
  border-color: rgba(0, 0, 0, 0.125);
  border-radius: 3px; }
  @media (max-width: 992px) {
    .ticket {
      border: hidden; } }
  .ticket .form-group {
    margin-bottom: .2rem; }
    .ticket .form-group input {
      border: none; }
    .ticket .form-group select {
      border: none; }
    @media (max-width: 992px) {
      .ticket .form-group input, .ticket .form-group select {
        border: 1px solid; }
      .ticket .form-group input {
        margin-bottom: 2%; } }
  .ticket .col-lg-4 {
    border-right: 1px solid;
    border-color: rgba(0, 0, 0, 0.125);
    padding-top: 1%; }
    @media (max-width: 992px) {
      .ticket .col-lg-4 {
        border-right: none; } }
  .ticket .col-lg-2 {
    padding-top: 1%; }
  .ticket button, .ticket button:hover {
    border-color: #ff5a5f;
    border: 2px solid;
    border-radius: 8px;
    background-color: #ff5a5f;
    font-weight: bold;
    color: #fff;
    text-align: center;
    padding: 8% 24% 8% 24%;
    margin-top: 5%;
    cursor: pointer; }
    @media (max-width: 992px) {
      .ticket button, .ticket button:hover {
        width: 100%;
        height: 100%;
        padding: 2% 0 2% 0;
        border-radius: 5px;
        margin-top: 0; } }
  .ticket button:hover {
    background-color: transparent;
    color: #ff5a5f;
    border-color: #ff5a5f; }

.cTitle {
  margin-bottom: 2%;
  margin-top: 4%;
  margin-left: .2rem;
  color: #484848; }

.card {
  border-radius: 0px !important; }

@media (max-width: 992px) {
  .card {
    margin-bottom: 10%; } }
.crow1 .card .card-img-top {
  height: 400px; }

.crow2 .card .card-img-top {
  height: 250px; }
  @media (max-width: 576px) {
    .crow2 .card .card-img-top {
      height: 175px; } }
  @media (max-width: 768px) {
    .crow2 .card .card-img-top {
      height: 150px; } }
  @media (min-width: 1200px) {
    .crow2 .card .card-img-top {
      height: 175px; } }

.crow3 .card .card-img-top {
  height: 250px; }

.footer {
  border-top: 1px solid;
  border-color: rgba(0, 0, 0, 0.125);
  margin-top: 5%;
  padding-top: 3%;
  padding-bottom: 3%; }
  @media (max-width: 768px) {
    .footer {
      margin-top: 0;
      border-top: none; } }
  .footer .footer-top ul {
    color: rgba(0, 0, 0, 0.125);
    padding-left: 0;
    list-style: none;
    font-size: .9em; }
    .footer .footer-top ul li a {
      color: #484848; }
  .footer .footer-bottom {
    margin-top: 2%;
    padding-top: 2%;
    border-top: 1px solid;
    border-color: rgba(0, 0, 0, 0.125);
    color: #484848; }
    .footer .footer-bottom a {
      text-align: center;
      color: #484848;
      font-size: .9em; }
    .footer .footer-bottom .social a {
      padding-left: 10px;
      padding-right: 10px; }
      .footer .footer-bottom .social a .fa-facebook:hover {
        color: #3b5998; }
      .footer .footer-bottom .social a .fa-twitter:hover {
        color: #326ada; }
      .footer .footer-bottom .social a .fa-instagram:hover {
        color: #c3328c; }

.sign-in-up .facebook {
  background-color: #3B5998;
  border-color: #3B5998; }
.sign-in-up .google {
  background-color: #fff;
  color: #484848;
  border-color: #c4c4c4; }
.sign-in-up button, .sign-in-up .ticket button:hover, .ticket .sign-in-up button:hover {
  width: 100%;
  cursor: pointer; }
.sign-in-up input {
  width: 100%;
  height: 64px; }

.subnav {
  padding: 0em; }
  .subnav ul {
    margin-bottom: 0; }
    .subnav ul li {
      margin-left: 1rem;
      float: left; }
      .subnav ul li a span {
        font-size: .9em;
        color: #bbb;
        padding: .4rem 0rem; }
      .subnav ul li a .active {
        border-bottom: 4px solid;
        border-color: #bbb;
        color: #fff; }

.left-panel .card .card-img-top {
  /*height: 190px;*/ }
.left-panel .card .pf-details ul margin
li .fa {
  font-size: 24px; }

.img-responsive {
  width: 100%;
  height: auto; }

.cstm-card .card-header {
  background-color: #edefed !important; }
.cstm-card .card-block {
  padding: 20px; }

.space-top-4 {
  margin-top: 24px; }

.space-4 {
  margin-bottom: 24px; }

.space-2 {
  margin-bottom: 12px; }

.space-top-2 {
  margin-top: 12px; }

.space-1 {
  margin-bottom: 6px; }

.space-top-1 {
  margin-top: 6px; }

.list-unstyled {
  margin-bottom: initial; }

.br-bottom {
  border-bottom: 1px solid rgba(0, 0, 0, 0.125); }

.sec-color li a {
  color: #008489; }

.section-divider {
  margin-top: 15px;
  margin-bottom: 15px;
  border: 0;
  border-top: 1px solid #dce0e0; }

/*# sourceMappingURL=style.css.map */
