/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 13, 2017, 12:19:42 PM
    Author     : dippa
*/
$mdWidth: 1280px;
$smWidth: 1110px;
$bc: rgba(0,0,0,.125); //background color
$fc: #484848; //font color
$fcs: #008489;

// Search input
.navbar{
    .collapse{
        .form-control{
            width: 700px;
            height: 5px;
            border: none;
            background-color: #f7f7f7;
        }
            @media(max-width: $mdWidth){
                .form-control{
                    width: 600px;
                }
            }
            @media(max-width: $smWidth){
                .form-control{
                    width: 500px;
                }
            }
    }
}

//navigation link margin
.nav-item{
    margin-left: 2rem;
}

@media(max-width: $mdWidth){
    .nav-item{
        margin-left: 1rem;
    }
}

@media(max-width:$smWidth){
    .nav-item{
        margin-left: 0.5rem;
    }
}



// Carousel
.carousel{
/*    @media(max-width: 768px){
        margin-top:7%;        
    }
    @media(min-width: 576px){
        margin-top: 9%;
    }
    @media(max-width: 576px){
        margin-top: 13%;
    }*/
    .carousel-inner{
        .carousel-item{
            
            .d-block{
                width: 100%;                
            }
            @media(max-width:$mdWidth){
                img{
                    height: 75%;
                }
                @media(max-width:$smWidth){
                    img{
                        height: 50%;
                    }
                }
            }
            .carousel-caption{
                text-align: left;
                right: initial;
                padding-bottom: 15%;
                color: #fff;
                h1{
                    margin-bottom: 3%;
                    font-weight: bolder;
                    font-size: 3rem;
                }
                p{
                    margin-bottom: 9%;
                    font-size:1.2rem;
                }
                .btn{
                    //color: #484848;
                    color: #fff;
                    border: 2px solid;
                    border-radius: 64px;
                    cursor: pointer;
                    //border-color: rgba(72, 72, 72, 0.3)
                    border-color: #fff;
                }
                .btn:hover{
                    //color: #484848;
                    color: $fc;
                    background-color: transparent;
                    border: 2px solid;
                    border-radius: 64px;
                    cursor: pointer;
                    //border-color: rgba(72, 72, 72, 0.3);
                    border-color: $bc;
                }
            }
        }
    }
}

//Ticket Booking
.ticket{
    padding: 0% 1.5% 0% 1.5%;
    margin: 4% 0% 4% 0%;
    border: 1px solid;
    border-color: $bc;
    border-radius: 3px;
    @media(max-width: 992px){
        border:hidden;
    }
    .form-group{
        margin-bottom: .2rem;
        input{
            border: none;
        }
        select{
            border: none;
        }
        @media(max-width: 992px){
            input, select {
                border: 1px solid;
            }
            input{
                margin-bottom: 2%;
            }
        }
    }
    .col-lg-4{
        border-right: 1px solid;
        border-color: $bc;
        padding-top: 1%;
        @media(max-width: 992px){
            border-right: none;
        }
    }
    .col-lg-2{
        padding-top: 1%;
    }
    
    button{
        border-color: #ff5a5f;
        border: 2px solid;
        border-radius: 8px;
        background-color: #ff5a5f;
        font-weight: bold;
        color: #fff;
        text-align: center;
        padding: 8% 24% 8% 24%;
        margin-top:5%;
        cursor: pointer;
        @media(max-width: 992px){
            width: 100%;
            height: 100%;
            padding: 2% 0 2% 0;
            border-radius: 5px;
            margin-top: 0;
        }
    }
    button:hover{
        @extend button;
        background-color: transparent;
        color:#ff5a5f;
        border-color: #ff5a5f;
    }
    
}

//Content Title
.cTitle{
    margin-bottom: 2%;
    margin-top: 4%;
    margin-left: .2rem;
    color: $fc;    
}

//Content Card
.card{
    border-radius: 0px! important;
    color: $fc! important;
    } 
@media(max-width:992px){
    .card{
        margin-bottom: 10%;        
    }
}
.crow1{
    .card{
        .card-img-top{
            height:400px;
            
        }
    }
}
.crow2{
    .card{
        .card-img-top{
            height:250px;
            @media(max-width:576px){
                height:175px;
            }
            @media(max-width:768px){
                height: 150px;
            }
            @media(min-width:1200px){
                height: 175px;
            }
        }
    }
}
.crow3{
    .card{        
        .card-img-top{
            height:250px;            
        }
    }
}


//Footer
.footer{
    border-top: 1px solid;
    border-color: $bc;
    margin-top: 5%;
    padding-top: 3%;
    padding-bottom: 3%;
    @media(max-width:768px){
        margin-top: 0;
        border-top: none;
    }
    .footer-top{
        ul{
                color: $bc;
                padding-left: 0;
                list-style:none;
                font-size: .9em;
                li{
                    a{
                        color: $fc;
                    }
                }
        }
    }
    .footer-bottom{
        margin-top:2%;
        padding-top: 2%;
        border-top:1px solid;
        border-color:$bc;
        color: $fc;
        a{
            text-align: center;
            color: $fc;
            font-size: .9em;            
        }
        .social{
            a{
                padding-left: 10px;
                padding-right: 10px;
                .fa-facebook:hover{
                    color: #3b5998;
                }
                .fa-twitter:hover{
                    color: #326ada;
                }
                .fa-instagram:hover{
                    color: #c3328c;
                }
            }
        }
    }
}

//Sign up or Login
.container-responsive-cstm{
    @media(min-width: 1200px){
        width: 950px;
    }
}

.sign-in-up{
    .facebook{
        background-color: #3B5998;
        border-color: #3B5998;
        @extend .form-button;
    }
    .google{
        background-color: #fff;
        color: $fc;
        border-color: #c4c4c4;
        @extend .form-button;
    }
    button{
        width: 100%;
        cursor: pointer;
        @extend .form-button;
    }
    input{
        width: 100%;
        height: 64px
    }
}
.social-icon{
    vertical-align: middle;
    font-size: larger! important;
    position: relative;
    left: -90px;
    @media(max-width: 992px){
        left: -50px;
    }
}
    
    
//subnav
.subnav{
    padding: 0em;
    ul{
        margin-bottom: 0;
        li{
            margin-left: 1rem;
            float:left;
            a{
                span{
                    font-size:.9em;
                    color: #bbb;
                    padding: .4rem 0rem;
                    
                }
                .active{
                        border-bottom: 4px solid;
                        border-color: #bbb;
                        color: #fff;
                }
            }
        }
    }
}

// user_profile left panel
.left-panel{
    .card{
        .card-img-top{
            /*height: 190px;*/
        }
        .pf-details{
            ul{
                margin
                li{
                    .fa{
                            font-size: 24px;
                        }
                }
            }
        }
    }
}


//blog
.blog{
    h2{
        font-weight: 700;
    }
    span{
        font-size: 1.2rem;
        line-height: 16px;
        padding-bottom: 10px;
    }
    p{
        text-align: justify;
    }
}

//extra
.img-responsive{
    width: 100%;
    height: auto;
}

.cstm-card{
    .card-header{
        background-color: #edefed! important;
    }
    .card-block{
        padding: 20px;
    }
}
.space-top-4{
    margin-top: 24px;
}
.space-4{
    margin-bottom: 24px;
}
space-8{
    margin-bottom: 48px;
}
.space-2{
    margin-bottom: 12px;
}
.space-top-2{
    margin-top:12px
}
.space-1{
    margin-bottom: 6px
}
.space-top-1{
    margin-top:6px
}
.expand-top-2{
    padding-top: 12px;
}
.expand-2{
    padding-bottom: 12px;
}
.list-unstyled{
    margin-bottom: initial
}
.br-bottom{
    border-bottom: 1px solid rgba(0,0,0,.125);
}
.br-top{
    border-top: 1px solid rgba(0,0,0,.125);
}
.sec-color{
    li{
        a{
            color: $fcs;
        }
    }
}
.section-divider{
    margin-top: 15px;
    margin-bottom: 15px;
    border: 0;
    
    border-top: 1px solid #dce0e0;
}
.or-separator{
    margin-top: -10px;
    margin-bottom: 18px;
    border: 0;
    
    border-top: 1px solid #dce0e0;
}
.or-text{
    padding: 4px 8px;
    background-color: #fff;
}

.panel{
    @media(min-width: 768px){
        width: 50%;
        margin-left: 25%;
        margin-right: 25%;
    }
}
.panel-body{
    padding: 20px;
}

.setwidth90{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}

.form-button{
    padding: 20px 0px;
}

.cstm-btn{
        float: right!important;
    padding: 3px 10px;
    border: 1px solid red;
    color: red;
    border-radius: 5px
}
.cstm-btn:hover{
    @extend .cstm-btn;
    text-decoration: none;
}
.full-width{
    width: 100%;
}
.all-initial{
    margin: initial;
    padding: initial;
    border: initial;
}
.secondary-color{
    color:$fcs
}